*{
  font-family: 'Mukta', sans-serif;
  text-decoration: none;
}
h1 {
  color: rgb(198, 47, 72);
  font-size: 50px;
}
.vertical-menu {
  width: 15%;
  height: 100%;
  background-color: #eee;
  margin-right: 1rem;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04aa6d;
  color: white;
}
body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}
table, th{
    border: 1px solid black;
    font-weight: normal;
}
img{
  float: left;
  object-fit: cover;
}
h3{
  color: black;
}
